body {
  background-image: url(https://images.unsplash.com/photo-1504532724559-22878efd533a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f50a07dc64c3d92f605cebee5cfa600c&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oleo Script', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.header {
  margin: 1em;
  color: white;
  font-weight: lighter;
  background-color: ;
}

#canvas {
  font-family: 'Oleo Script', cursive;
  display: flex;

}

.wheel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#spin .button {
  padding: 200px 400px;
  font-size: 24px;
}

.drink-picture {
  height: 550px;
}

.drink-image {
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 400px
}
